[submodule "requests"]
	path = requests
	url = https://github.com/kennethreitz/requests
#[submodule "ycmd"]
#	path = ycmd
#	url = https://github.com/Valloric/ycmd
[submodule "requests-futures"]
	path = requests-futures
	url = https://github.com/ross/requests-futures
